#graph-container {
  height: 100%;
  width: 100%;
}

#graph-canvas {
  min-height: 100%;
}

.svg-content {
  height: 100%;
  width: 100%;
}

/* Grid lines */

svg line {
  stroke: #e3e3e3;
  stroke-width: 1.5px;
}

/* Extent */

svg rect.selection {
  stroke: #7cbdff;
  stroke-opacity: 1;
  stroke-width: 2px;
  fill: #333;
  fill-opacity: 0.1;
}
