path.link-body {
  stroke: #999;
  opacity: 1;
  transition-property: opacity;
  transition-delay: 0ms;
  transition-duration: 50ms;
  cursor: pointer;
}

path.link-body.hidden {
  stroke-width: 0;
}

path.link-body.selected {
  stroke: #0d77e2;
}

path.link-body.possible {
  stroke: #519dea;
}

.link-title {
  font-family: 'Avenir LT Std', 'Open Sans', sans-serif;
  stroke: #efefef;
  stroke-width: 3px;
  fill: #545454;
  paint-order: stroke;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 1.2px;
}

.link-title textPath.hidden {
  visibility: hidden;
}
